@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../../assets/fonts/RobotoSlab-Bold.ttf");
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../../assets/fonts/RobotoSlab-Medium.ttf");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../../assets/fonts/RobotoSlab-Regular.ttf");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../../assets/fonts/RobotoSlab-Light.ttf");
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../../assets/fonts/RobotoSlab-Thin.ttf");
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
